# DB 1.1 System Environment Configuration
PORT=3000
NODE_ENV=development

# Default Local MySQL / MariaDB (XAMPP) Configuration Placeholders
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sales_db
DB_USER=root
DB_PASSWORD=

# Default Local PostgreSQL Configuration Placeholders
PG_HOST=127.0.0.1
PG_PORT=5432
PG_NAME=postgres
PG_USER=postgres
PG_PASSWORD=

# Default Local MongoDB Configuration Placeholders
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=test

# Read-Only Security Guard Default (true/false)
READ_ONLY_DEFAULT=true

# Logging
LOG_PATH=./logs/connector.log
